* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    background: #43c6ac; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #f8ffae,
      #43c6ac
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #f8ffae,
      #43c6ac
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  header {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: 900;
  }
  form,
  header {
    display: flex;
    min-height: 20vh;
    justify-content: center;
    align-items: center;
  }
  form input,
  .add-btn {
    padding: 0.8rem;
    font-size: 20px;
  }
  .add-btn:hover   {
    border-style: none;
    background: #43c6ac;
    color: white;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .list-item {
    min-width: 30%;
    list-style: none;
  }
  .todo-block {
    margin: 0.5rem;
    background-color: white;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
  }
  .list-item {
    flex: 1;
    padding-left: 0.5rem;
    padding-right: 0.3rem;
  }

  .todo-list{
    width: 80%;
    height: 60vh;
  }
  .content-div{
    width: 400px;
    display: flex;
    align-content: space-between;
    
  }
  .checkbtn{
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
  }